*{
    text-align: center;
    margin: auto;
    margin-top: 5%;
}
h2 {
    margin-bottom: 5%;
}
.title{
    text-align: justify;
    color: rgb(96, 104, 108);
    background-color: greenyellow;
}
.PriceColumn{
    background-color: rgba(209, 199, 199, 0.433);
}

.div1{
    background-color: yellowgreen;
    text-align: center;
}

.table{
    border-collapse: collapse;
    border-block: black solid;
}